body {
	background-color: darkslategrey
}

.kotak_login {
	width: 350px;
	font-family: sans-serif;
	background: white;
	margin: 80px auto;
	padding: 30px;
	width: auto;
	border-radius: 10px;
}

hr {
	color: white;
}

h1 {
	font-size: 30pt;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: white;
	text-align: center;
}

.send {
	width: 150px;
	color: white;
	background-color: green;
}

.send:hover {
	border: 1px solid #b1b1b1;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.reset {
	width: 150px;
}

.reset:hover {
	border: 1px solid #b1b1b1;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}